 body,html {
    padding: 0; margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Satoshi', 'chillax', Arial;
    background-color: var(--background-color);
 }
:root{
    --background-color: #000000;
    --text-color: #DAC5A7;
    --tex-fontFamily--chillax: 'chillax';
    --window-backgroundColor: #19150e;
    --button-backgroundColor:  #c6b398;
    --border-color: #463b2d;
    --promo-fotter-background: #201a0f;
}

.header__banner{
    width: clamp(350px, 40vw, 1000px);
    height: auto; margin-top: 2.5vh;
}
@media (min-width: 1024px) {
  .header__banner {
    width: clamp(350px, 50vw, 1000px);
    height: auto;
  }
}
.header__nav{
    border: 2px solid var(--window-backgroundColor);
    padding-top: 1.5vh; 
}
@media (min-width: 1024px){
  .header__nav{
    max-width: 1000px;
    width: 40%;
    margin: 0 auto;
    }
}
.header__items, .header__link-wrapper{
    display: flex; margin-top: 0; padding: 0;
    justify-content: center;
    align-items: center;
    gap: clamp(10px, 3vw, 30px);
    list-style: none; 
}
.header__link{
    text-decoration: none;
    color: var(--text-color, #DAC5A7);
}
.header__item--with-dropDownTorggle{
    position: relative; 
    overflow: visible;  
}
.header__dropDown{
    display: none;
    z-index: 100;
    position: absolute;
    top:6vh; left: 245px;
    text-decoration: none;
    
}
.header__dropDown.open {
  display: block;
  overflow: visible;
  left: 820px;
  top: 50px; list-style: none;
  border: 1px solid var(--text-color);
  background-color: black; padding: 1vw;
}
@media(max-width: 1024px) {
   .header__dropDown.open{
    left: 280px; top: 60px;  
}
}
.header__button{
    background-color: var(--button-backgroundColor);
    border-radius: 3px; border: none;
    height: clamp(41px, 2vh, 50px);
    width: clamp(55px, 15vw, 111px);
    

}
@media(max-width: 1024px) {
.header__button{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--text-inverse);
}
}

.header__main{
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

.header__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.header__tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0; margin-top: 0.5vh;
    font-weight: 300;
    font-size: clamp(45px, 10vw, 85px);
}

.header__tittle--web{
    display: inline-block;
    transform: translateX(-1vw);
    vertical-align: top;
    position: relative;
    top: 6.5vh; 
}

.header__tittle--italic{
    font-style: italic;
}

.header__link{
    display: flex;
    align-items: center;
    gap: 3.5vw;
}

@media(min-width: 1024px){
    .header__tittle--web{
    display: inline-block;
    transform: translateX(-1vw);
    vertical-align: top;
    position: relative;
    top: 20vh; left: 1vw;  
    }
    .header__main{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 0; margin-top: 0.5vh;
    font-weight: 300;
}
    .header__link{
    display: flex;
    align-items: center;
    gap: 1.5vw;   
    }
}

.openTalk-modal{
    display: none;
    position: absolute;
    bottom: 50vh; left: 12vw;
    z-index: 100;
    color: var(--text-color);
    border: 2px solid var(--border-color);
    background-color: var(--window-backgroundColor);
    width: clamp(300px,  10vw, 610px);
    margin: 2.5vw; padding: 1.5vw;
}

.modal__close{
    position: relative;
    left: 65vw;
}

.openTalk-modal__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.openTalk-modal__main{
    margin-top: 0;
}
.openTalk-modal__title--text{
    font-size: x-large;
    margin-top: 0;
}


.openTalk-modal__from{
    display: flex;
    flex-direction: column;
    width: clamp(250px, 25vw , 500px );
    margin-bottom: 1vh;
}

.openTalk-modal__input{
    background-color: var(--button-backgroundColor);
    
}
 
.openTalk-modal__input-comment{
    background-color: var(--button-backgroundColor);
    height: clamp(50px, 10vw , 504px );
    
}

::placeholder{
    color: black;
}

.openTalk-modal__btn{
    margin-top: 1vh;
    background-color: var(--button-backgroundColor);
    transition: background-color 0.3s ease;
}

.openTalk-modal__btn:active{
    background-color: burlywood;
}


.main{
    color: var(--text-color);
    margin: 2.5vw;
    
}

.main__text{
    font-weight: 300;
    font-size: clamp(2vw, 5vw, 6vw);
}

.main__description{
    filter: brightness(0.7);
}

.main__link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-color);
    gap: 2.5vw; 
     transition: all 1.5s ease;
     
}

.main__link:hover{
    color: pink;
}

.main__link-icon {
    transition: all 1.5s ease;
}

.main__link-icon:hover{
    filter: brightness(5) invert(2.5);
    
}

@media(min-width: 1024px){
    .main__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
}

.content-info{
    color: var(--text-color);
}

.content-info__wrapper{
    display: flex;
    flex-direction: column;
    gap: 2.5vh; width: 100vw;
    align-items: center;    
}



.content-info__item--border {
    display: flex;
    gap: 20vw;
    border: 2px solid var(--border-color);
    background-color: var(--window-backgroundColor);
    padding: 1.5%; 
    width: 60vw;
    text-transform: uppercase;
}

@media(min-width: 1024px){
    .content-info__wrapper{
        display: flex;
        flex-direction: row;
        gap: 2.5vh; width: 100vw;
        justify-content: center; 
    }
    .content-info__item--border {
    display: flex;
    gap: 10vw;
    border: 2px solid var(--border-color);
    background-color: var(--window-backgroundColor);
    padding: 0.5%; padding-left: 5%;
    width: 25vw;
    text-transform: uppercase;
    
}
}

.background__img{
    display: flex;
    justify-content: center;
    margin-top: 2.5vh;
}
.background__img--size{
    width: clamp(350px, 50vw, 1100px);
    height: auto;
}

.info,
.author{
    color: var(--text-color);
}

.info__wrapper{
    margin: 4.5vw;
}

.author__wrapper{
    display: flex;
    flex-direction: column;
    margin: 4.5vw; padding: 2.5vw;
}

.author__wrapper--border{
    border: 2px solid var(--border-color);
    background-color: var(--window-backgroundColor);
}

.author__badge{
    display: flex;
    gap: 1.5vw;
}
.author__photo{
    width: clamp(30px, 55vw, 60px);
    height: auto;
}

span {
    opacity: 0.6;
}

.info__description{
    opacity: 0.7;
}

.author-link{
   

    color: var(--text-color);
}

.author-link__wrapper{
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
    gap: 2.5vw;
}

.author-link__instagram,
.author-link__twitter,
.author-link__facebook{
    display: flex;
    align-items: center;
    position: relative;
    width: clamp(215px, 60vw, 512px);
    border: 2px solid var(--border-color);
    background-color: var(--window-backgroundColor);
    gap: 5vw; padding: 1.5vw;
    
}

.author-link__vector{
    width: clamp(16px, 1vw, 17px);
    height: clamp(16px, 1vh, 17px);
    position: absolute;
    right: clamp(25px, 1.3vw, 500px );
}