 body,html {
    padding: 0; margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Satoshi', 'chillax', Arial;
    background-color: var(--background-color);
 }
:root{
    --background-color: #000000;
    --text-color: #DAC5A7;
    --tex-fontFamily--chillax: 'chillax';
    --window-backgroundColor: #19150e;
    --button-backgroundColor:  #c6b398;
    --border-color: #463b2d;
    --promo-fotter-background: #201a0f;
    --text-muted: rgba(218, 197, 167, 0.6);
}
.header__banner{
    width: clamp(350px, 40vw, 1000px);
    height: auto; margin-top: 2.5vh;
}
@media (min-width: 1024px) {
  .header__banner {
    width: clamp(350px, 50vw, 1000px);
    height: auto;
  }
}
.header__nav{
    border: 2px solid var(--window-backgroundColor);
    padding-top: 1.5vh; 
}
@media (min-width: 1024px){
  .header__nav{
    max-width: 1000px;
    width: 40%;
    margin: 0 auto;
    }
}
.header__items, .header__link-wrapper{
    display: flex; margin-top: 0; padding: 0;
    justify-content: center;
    align-items: center;
    gap: clamp(10px, 3vw, 30px);
    list-style: none; 
}
.header__link{
    text-decoration: none;
    color: var(--text-color, #DAC5A7);
}
.header__item--with-dropDownTorggle{
    position: relative; 
    overflow: visible;  
}
.header__dropDown{
    display: none;
    z-index: 100;
    position: absolute;
    top:6vh; left: 245px;
    text-decoration: none;
    
}
.header__dropDown.open {
  display: block;
  overflow: visible;
  left: 820px;
  top: 50px; list-style: none;
  border: 1px solid var(--text-color);
  background-color: black; padding: 1vw;
}
@media(max-width: 1024px) {
   .header__dropDown.open{
    left: 280px; top: 60px;  
}
}
.header__button{
    background-color: var(--button-backgroundColor);
    border-radius: 3px; border: none;
    height: clamp(41px, 2vh, 50px);
    width: clamp(55px, 15vw, 111px);
    

}
@media(max-width: 1024px) {
.header__button{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--text-inverse);
}
}

.header__main{
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

.header__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.header__tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0; margin-top: 0.5vh;
    font-weight: 300;
    font-size: clamp(45px, 10vw, 85px);
}

.header__tittle--web{
    display: inline-block;
    transform: translateX(-1vw);
    vertical-align: top;
    position: relative;
    top: 6.5vh; 
}

.header__tittle--italic{
    font-style: italic;
}

.header__link{
    display: flex;
    align-items: center;
    gap: 3.5vw;
}

@media(min-width: 1024px){
    .header__tittle--web{
    display: inline-block;
    transform: translateX(-1vw);
    vertical-align: top;
    position: relative;
    top: 20vh; left: 1vw;  
    }
    .header__main{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 0; margin-top: 0.5vh;
    font-weight: 300;
}
    .header__link{
    display: flex;
    align-items: center;
    gap: 1.5vw;   
    }
}

.clients{
    color: var(--text-color);    
}

.clients__wrapper{
   display: flex;
   justify-content: space-between;
   padding: 3.5vw;
}

.clients__review,
.clients__project,
.clients__happy-clients,
.clients__followers{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.clients__review--number,
.clients__projeckt--number,
.clients__happy-clients--number,
.clients__followers--number{
    text-transform: uppercase;
    font-size: clamp(20px, 3vw, 64px);
    margin: 0;

}

.clients__review--text,
.clients__project--text,
.clients__happy-clients--text,
.clients__followers--text{
    color: var(--text-muted);
    text-transform: uppercase;
}

.creative-process{
    color: var(--text-color);
}

.creative-process__wrapper--border{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid  var(--window-backgroundColor);
    background-color: var(--window-backgroundColor);
    margin: 3.5vw; padding: 4.5vw;
}
/* creative-process__imeges */
.creative-process__imges{
    width: clamp(350px, 40vw, 1000px);
    height: auto;
    margin-top: 3vh; margin-bottom: 3vh;
}
/* creative-process__imeges */
@media(min-width: 1024px) {
.creative-process{
     width: clamp(350px, 100vw, 1000px);
    height: auto; margin: 0 auto;
}
}

.creative-process__label{
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.creative-process__title{
    font-weight: 300;
    line-height: 110%;
}

.creative-process__line{
    width: 100%;      
}














.main-footer{
    background-color: var(--promo-fotter-background);
    margin: 0; 
}
.main-footer__wrapper{
    display: flex;
    padding-top: 2.5vh;
    flex-direction: column;
    width: 430px;
    
}
.main-footer__nav-social{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1.5vw; padding: 1vw; padding-left: 1vw;
}
.main-footer__nav-cms{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    padding: 0; margin-top: 0;
}
.main-footer__nav-pages{
    display: none;
}
.main-footer__item-social{
    display: flex;
    align-items: center;
    gap: 1.5vw; padding: 1vw;   
}


a{
text-decoration: none;
color: var(--text-color);
}

.main-footer__item-pages--link{
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.05em;
}

.main-footer__item-pages--button{
    background-image: url(images/promo/Vector_up.png);
    background-position: center right 2vw;
    background-repeat: no-repeat;
    background-color: var(--text-color);
    border: none; width: 28.72vw; height: 3.79vh;
    padding-right:5vw; padding-left: 1vw; 
}

.main-footer__copyright{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    color: var(--text-color);
}
.main-footer__wrapper-link{
   display: flex;
   justify-content: center;
}
.main-footer__link{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.main-footer__copyright--text{
    font-size: x-small;
    margin-left: 2.5vw;
}

@media(min-width: 1024px) {
    .main-footer__wrapper{
    display: flex;
    flex-direction: row;
    padding-top: 2.5vh;
    width: 100vw;
    justify-content: space-around;
    position: relative;  right: 50px;
    
}
    .main-footer__nav-social,
    .main-footer__nav-pages,
    .main-footer__nav-cms{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 2.5vw; padding: 1vw;
    align-items: center;
    
}
    .main-footer__item-pages--button{
    background-image: url(images/promo/Vector_up.png);
    background-position: center left 115px;
    background-repeat: no-repeat;
    background-color: var(--text-color);
    border: none; width: 130px; height: 3.79vh;
    padding: 5px; padding-left: 1px;
}
}